<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="mongoConnectionString" value="mongodb://localhost:27017"/>
    <add key="xmlDirectory" value="C:\Temp\serverfault.com"/>
    <add key="mongoDbName" value="serverfault"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>